
    

<p>
    <h2><%= @trigger.name %></h2>
</p>

<div class="container white_pane">
 
          <div class="col-md-3">
              <div>Trigger Name : <%= @trigger.name %></div>
              <div>Trigger Value : <%= @trigger.value  %></div>
              <div>Trigger Webhook URL : <%= @trigger.webhook_url  %></div>
          </div> 
    
</div>