<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHgCyXOs3odEVeKkTz92qEOwxHgTm5xQE&callback=initMap"></script>


<div id="map" class="map-format"></div>
    <script>
        var myLatlng = new google.maps.LatLng(53.192821,-6.1714228);
        var mapOptions = {
        zoom: 13,
        center: myLatlng,
        mapTypeId: 'terrain'
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var image = '';
        var contentString = 
            ' <div class="col-lg-3 col-md-6">' +
                ' <!-- START panel-->' +
                ' <div class="panel panel-light map-info-panel">' +
                    ' <div class="panel-heading">' +
                        ' <div class="row">' +
                            ' <div class="col-xs-3">' +
                                ' <%= link_to "", {controller: "sensors", action: "index"}, class: @sensor_class[@sensor.sensor_type] %>' +
                            ' </div>' +
                            ' <div class="col-xs-9 text-right">' +
                                ' <div class="text-lg"><%= @sensor.property_value %> <%=raw @sensor_measure[@sensor.sensor_type] %></div>' +
                                ' <p class="m0"><%= @sensor.name %> </p>' +
                            ' </div>' +
                        ' </div>' +
                        ' <!-- END row -->' +
                    ' </div>' +
                    ' <!-- END panel-heading -->' +
                    ' <a href="/charts" class="panel-footer bg-gray-light bt0 clearfix btn-block">' +
                        ' <span class="pull-left">View Details</span>' +
                        ' <span class="pull-right">' +
                            ' <em class="fa fa-bar-chart"></em>' +
                        ' </span>' +
                    ' </a>' +
                ' </div>' +
                ' <!-- END panel-light-->' +
            ' </div>' +
            ' <!-- END bootstrap class -->';


        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Kitchen Temperature",
            icon: image
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        // To add the marker to the map, call setMap();
        marker.setMap(map);
    </script>
